$primary: #e58e26;
$link: $primary;
$info: #3498db;
$success: #27ae60;
$warning: #f1c40f;
$danger: #e74c3c;
$dark: #2c3e50;
$light: #f5f5f5;
$text: #2c3e50;

:export {
    primary: $primary;
    light: darken($light, 10%);
}